body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 48px; }
[class^=slider] { display: inline-block; margin: 0 0 12px; }
.output { color: #888; font-size: 14px; padding-top: 1px; margin-left: 5px; vertical-align: top;}
h2 { color: #4d4d4d; font-size: 20px; line-height: 20px; padding: 0 0 20px;}
p { font-size: 14px; line-height: 24px; margin: 0 0 8px;}
.panel { background: #efefef; float: left; margin: 0 12px; padding: 20px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;  width: 340px;}
.single-note, .monthly-note { margin: 10px 0 5px; color: #4d4d4d; }
.single-field, .monthly-field { position: relative; }
.single-field strong, .monthly-field strong { height: 50px; line-height: 50px; position: absolute; left: 0; top: 0; font-size: 14px; color: #4d4d4d; padding: 0 12px;}
.single-field input, .monthly-field input { background: white; border: none; height: 50px; font-size: 24px; font-weight: bold; color: #d07e10; line-height: 50px; vertical-align: middle; padding: 0 25px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width: 100%; }

/* ----- Slider ----- */

.slider {
  margin: 0 !important;
  width: 340px;
}

.slider > .dragger {
  background: #0a0229;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 2px solid #e6e5ea;
  width: 42px;
  height: 42px;
}

.slider > .track, .slider > .highlight-track {
  background: #b8b8b8;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  height: 20px;
}

.slider > .highlight-track {
	background-color: #d07e10;
}

